.parallax-header {
	position: absolute;
	left: 25%;
    top: 150px;
	width: 5%;
    text-align: center;
}

.parallax-text, .parallax-subtext {
	position: absolute;
	transition: 300ms ease-out;
}

.parallax-bg, .parallax-subtext-bg {
	position: absolute;
	opacity: 0.2;
}

.parallax-subtext, .parallax-subtext-bg {
	width: 200px;
	top: 110px;
}

.parallax-text {
    color: #FFFFFF;
}

.parallax-text, .parallax-bg {
    font-size: 5.0rem;
}

.parallax-subtext, .parallax-subtext-bg {
    font-size: 2.4rem;
}

.outline-text {
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (min-width: 550px) {
    .parallax-header {
        left: 0;
    }
}