.container {
    padding-top: 150px !important;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.bordered {
    border: 1px dashed black;
}

.graph--skill-cloud {
    margin-top: -70px;
}
